Repository ryankanno/py-golf-games, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, ci/cd, dependencies, docker, docs, source, test

.github/labeler.yml:

repo:
  - ./*

ci/cd:
  - .github/**/*

dependencies:
  - pyproject.toml

docker:
  - Dockerfile*
  - .dockerignore
  - docker-compose.yml
  - docker/**/*

docs:
  - "docs/**/*"
  - "**/README.*"

source:
- any: ['py_golf/**/*', '!docs/*']

test:
  - tests/**/*
  - codecov.yml
  - .coveragerc

refactor: switched dependabot extension from yaml to yml
  .github/dependabot.yml
Labels: ci/cd

refactor: switched dependabot extension from yaml to yml (#9)
  .github/dependabot.yml
Labels: ci/cd

chore: updated commitlint-config for dependabot
  commitlint.config.js
Labels: repo

chore: updated dependabot config
  .github/dependabot.yml
Labels: ci/cd

chore: updated commitlint-config for dependabot (#10)
  commitlint.config.js
Labels: repo

chore: updated dependabot config (#11)
  .github/dependabot.yml
Labels: ci/cd

build: updated dependabot commit messages
  .github/dependabot.yml
Labels: ci/cd

build: updated dependabot commit messages (#13)
  .github/dependabot.yml
Labels: ci/cd

build: added release-drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: ci/cd

build: added release-drafter (#14)
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: ci/cd

feat: initial checking for pre-commit config (#15)
  .pre-commit-config.yaml
Labels: repo

chore: updated release drafter config
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: ci/cd

chore: updated release drafter config (#16)
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: ci/cd

chore: fixed release-drafter perf label
  .github/release-drafter.yml
Labels: ci/cd

chore: fixed release-drafter perf label (#17)
  .github/release-drafter.yml
Labels: ci/cd

chore: temporarily remove versioning
  py_golf/__init__.py
  pyproject.toml
Labels: repo, dependencies, source

chore: removed reference to _version file. oops
  py_golf/__init__.py
Labels: source

chore: temporarily remove versioning (#18)
  py_golf/__init__.py
  pyproject.toml
Labels: repo, dependencies, source

chore: fixed release-drafter label
  .github/release-drafter.yml
Labels: ci/cd

chore: fixed release-drafter label (#19)
  .github/release-drafter.yml
Labels: ci/cd

build: added publish action
  .github/workflows/publish.yml
Labels: ci/cd

build: added publish action (#21)
  .github/workflows/publish.yml
Labels: ci/cd

build: removed cache + added poetry installation + version
  .github/workflows/publish.yml
Labels: ci/cd

build: removed cache + added poetry installation + version (#22)
  .github/workflows/publish.yml
Labels: ci/cd

build: added debug to publish
  .github/workflows/publish.yml
Labels: ci/cd

build: added debug to publish (#23)
  .github/workflows/publish.yml
Labels: ci/cd

build: added poetry version so that it can find the cached asset
  .github/workflows/publish.yml
Labels: ci/cd

build: added poetry version so that it can find the cached asset (#24)
  .github/workflows/publish.yml
Labels: ci/cd

build: mapped version to job output to share amongst jobs
  .github/workflows/publish.yml
Labels: ci/cd

build: mapped version to job output to share amongst jobs (#25)
  .github/workflows/publish.yml
Labels: ci/cd

fix: rename project to py-golf-games
  Dockerfile
  MANIFEST.in
  README.rst
  py_golf_games/__init__.py
  py_golf_games/course.py
  py_golf_games/games/__init__.py
  py_golf_games/games/game.py
  py_golf_games/games/game_engine.py
  py_golf_games/games/sandie.py
  py_golf_games/games/stroke.py
  py_golf_games/hole.py
  py_golf_games/player.py
  py_golf_games/round.py
  py_golf_games/scorecard.py
  py_golf_games/simulation/__init__.py
  py_golf_games/simulation/generator.py
  py_golf_games/simulation/simulator.py
  py_golf_games/tee.py
  pyproject.toml
  simulate.sh
  tox.ini
Labels: repo, dependencies, docker, docs

updated poetry.lock for cache
  poetry.lock
Labels: repo

fix: rename project to py-golf-games (#26)
  Dockerfile
  MANIFEST.in
  README.rst
  poetry.lock
  py_golf_games/__init__.py
  py_golf_games/course.py
  py_golf_games/games/__init__.py
  py_golf_games/games/game.py
  py_golf_games/games/game_engine.py
  py_golf_games/games/sandie.py
  py_golf_games/games/stroke.py
  py_golf_games/hole.py
  py_golf_games/player.py
  py_golf_games/round.py
  py_golf_games/scorecard.py
  py_golf_games/simulation/__init__.py
  py_golf_games/simulation/generator.py
  py_golf_games/simulation/simulator.py
  py_golf_games/tee.py
  pyproject.toml
  simulate.sh
  tox.ini
Labels: repo, dependencies, docker, docs

removed MANIFEST.in
  MANIFEST.in
Labels: repo

updated README to reflect what py-golf-games is being used for
  README.rst
Labels: repo, docs

Added readme property to pyproject.toml
  pyproject.toml
Labels: repo, dependencies

Added license + readme + various other metadata
  LICENSE
  pyproject.toml
Labels: repo, dependencies

chore: project cleanup (#27)
  LICENSE
  MANIFEST.in
  README.rst
  pyproject.toml
Labels: repo, dependencies, docs

chore: updated email in pyproject.toml
  pyproject.toml
Labels: repo, dependencies

chore: updated email in pyproject.toml (#28)
  pyproject.toml
Labels: repo, dependencies
