Repository ryankanno/py-golf-games, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, ci/cd, dependencies, docker, docs, source, test

.github/labeler.yml:

repo:
  - ./*

ci/cd:
  - .github/**/*

dependencies:
  - pyproject.toml

docker:
  - Dockerfile*
  - .dockerignore
  - docker-compose.yml
  - docker/**/*

docs:
  - "docs/**/*"
  - "**/README.*"
  - "AUTHORS.*"
  - "HISTORY.*"

source:
- any: ['py_golf_games/**/*', '!docs/*']

test:
  - tests/**/*
  - codecov.yml
  - .coveragerc

added updated pyproject.toml
  pyproject.toml
Labels: repo, dependencies

removed setup/coveragerc (both moved to pyproject)
  .coveragerc
  setup.cfg
Labels: repo, test

added konchrc
  .konchrc
Labels: repo

removed duplicate key
  pyproject.toml
Labels: repo, dependencies

black formatting
  LICENSE
Labels: repo

updated lockfile
  poetry.lock
Labels: repo

fixed mypy issues
  py_golf_games/course.py
  py_golf_games/games/game.py
  py_golf_games/games/game_engine.py
  py_golf_games/games/sandie.py
  py_golf_games/games/stroke.py
  py_golf_games/hole.py
  py_golf_games/player.py
  py_golf_games/round.py
  py_golf_games/scorecard.py
  py_golf_games/simulation/generator.py
  py_golf_games/simulation/simulator.py
  py_golf_games/tee.py
Labels: source

updated dockerfile
  .dockerignore
  Dockerfile
  docker-entrypoint.sh
Labels: repo, docker

black format
  README.rst
Labels: repo, docs

added missing files
  AUTHORS.rst
  HISTORY.rst
  Makefile
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/make.bat
  logging.yaml
Labels: repo, docs

added tox
  tox.ini
Labels: repo

added bin/bash to entrypoint
  Dockerfile
Labels: repo, docker

removed old entrypoint.sh
  entrypoint.sh
Labels: repo

fixed test errors
  py_golf_games/games/game.py
  py_golf_games/games/sandie.py
  py_golf_games/games/stroke.py
  pyproject.toml
Labels: repo, dependencies, source
